<a href="https://colab.research.google.com/github/Zuyyina79/Jobsheet-6-Daspro/blob/main/LAMBDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Python program showing a use
# lambda function

# performing a addition of three number
x1 = (lambda x, y, z: (x+y)*z)(1, 2, 3)
print(x1)

# function using a lambda function
x2 = (lambda x, y, z: (x+y)if(z==0) else(x*y))(1, 2, 3)
print(x2)

9
2

In [2]:
# Python code to illustrate cube of a number
# showing difference between def() and lambda().
def cube(y):
    return y*y*y;
 
g = lambda x: x*x*x
print(g(7))

print(cube(5))

343
125

In [4]:
# Python program performing
# operation using def()
def fun(x, y, z):
  return x*y*z
a=1
b=2
c=3

# logical jump
d = fun(a, b, c)
print(d)

# Python program performing
# operation using lambda
d = (lambda x, y, z: x*y+z)(1, 2, 3)
print(d)

6
5

In [6]:
def func(x):
  if x == 1:
    return "one"
  elif x == 2:
    return "two"
  elif x == 3:
    return "three"
  else:
    return "ten"
num = func(3)
print(num)

three

In [11]:
# Python program showing use
# of lambda function
num = (lambda x: "one" if x == 1 else("two" if x == 2
                       else ("three" if x == 3 else "ten")))(3)
print(num)

three

In [12]:
# Python code to illustrate
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
final_list = list(filter(lambda x: (x%2 !=0), li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [13]:
# Python code to illustrate
# map() with lambda()
# to get double of a list
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [14]:
# Python code to illustrate
# reduce() with lambda()
# to get sum of a list
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x+y), li)
print(sum)

193